server {
    listen 80;
    server_name {{ production_domain }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ sc2pte_production_domain }}$request_uri? permanent;
    }
}